/* style.css */
body {
    background-color: gray;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 500px;
    margin: 60px auto;
}

.container h1,.container h2 {
    text-align: center;
    color: cyan;
}
form {
    background-color: white;
    padding: 30px;
}
form .input-group {
    margin-bottom: 15px;
}
form label {
    display: block;
    margin-bottom: 10px;
}
form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}
.submit-btn {
    width: 100%;
    border: none;
    background: cyan;
    font-size: 18px;
    color: black;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}

textarea {
    resize: vertical;
    width: 500px;
    padding: 10px;
}

textarea.largeTextArea {
    height: 300px;
}

textarea.smallTextArea {
    height: 100px;
}

.tileContainer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.disabledForm {
    opacity: 0.4;
    pointer-events: none;
}