/* style.css */
:root {
    --tile-width: 650px;
}

body {
    background-color: lightgray;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: var(--tile-width);
    margin: 20px;
}

.container h1,
.container h2 {
    text-align: center;
    color: teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
    background-color: white;
    padding: 30px;
}

form .input-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    border: none;
    background: teal;
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}

textarea {
    resize: vertical;
    width: var(--tile-width);
    padding: 10px;
}

.largeTextArea {
    height: 300px;
}

.smallTextArea {
    height: 60px;
}

.tileContainer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.disabledForm {
    opacity: 0.4;
    pointer-events: none;
}

.loaderContainer {
    position: relative;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    display: none;
}

.activeLoader {
    display: block;
}