/* style.css */

body {
    background-color: #373737;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 650px;
    margin: auto;    
}

.container h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: teal;
    margin-bottom: 0;
}

.subText {
    margin-top: 0;
    margin-bottom:0;
    text-align: right;
    color: teal;
}

form {
    background-color: #b4beb7;
    padding: 30px;
}

form .input-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    padding: 12px 20px;
    width: 100%;
    background: whitesmoke;
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    border: none;
    background: teal;
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}

textarea {
    resize: vertical;
    width: 100%;
    padding: 10px;
    border: 1px;
}

.largeTextArea {
    height: 300px;
}

.smallTextArea {
    height: 60px;
}

.tileContainer {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.disabledForm {
    pointer-events: none;
}

.loaderContainer {
    position: relative;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    display: none;
}

.activeLoader {
    display: block;
}